
.weekend-schedule{
  background: #FD4935;
   width: 80%;
   padding-left: 10%;
   padding-right: 10%;
   padding-top: 5%;
   padding-bottom: 5%;
}
.weeked-discription{
 background: #fff;
}
.weekend-header{
  color: brown;
  font-size: 30px;
  font-weight: bold;
}
.weekend-activitiy1{
  color: #1e90ff;
 font-size: 22px;
 
}
.weekend-activitiy2{
  color: #FD4935;
 font-size: 22px;
}
.schedule-holder{
  width: 100%;
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.schedules{
      flex: 1 1 210px; /*  Stretching: */
    flex: 0 1 210px; /*  No stretching: */
    margin: 5px;
}
.daydisplay{

  border-radius: 3px 25px ;
  background: #fff;
  padding: 20px;
   font-size: 20px;
  font-weight: bold;
  width: 120px;


}
.time-schedule{
  font-size: 20px;
  font-weight: bold;
}

.monday-schedule{
  margin-left: 2%;
  background: #FD4935;
}
.tuesday-schedule{
  margin-left: 2%;
  background: #FEC12C;
}
.wednesday-schedule{
  margin-left: 2%;
  background: brown;
}
.thursday-schedule{
  margin-left: 2%;
  background: #FD4935;
}
.friday-schedule{
  margin-left: 2%;
  background: #FEC12C;
}

.profileicon{
  position: absolute;
  cursor: pointer;
  right: 2%;
  top: 1%;
}
.popupmenu{
  width: 150px;
  background: #1e90ff;
  text-align: center; 
  position: absolute; 
  top: 8%; 
  right: 1%; 
  overflow: hidden;
  display: none;

}

.popupmenu a{
    padding: 10px 30% ;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-decoration: none;
  background: #fff; 
  transition: .5s ease all;
}
.popupmenu a:hover{
  border-bottom: 4px solid brown;
}


.popuptitle{
  width: 100%;
  background: #FEC12C;
  color: brown;
  font-weight: bold;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.enrolled-holder{

}
.enrolled-title{
  width: 100%;
  background: #FEC12C;
  color: brown;
  font-weight: bold;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.enrolled{
   width: 100%;
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.enrolled-activity{
flex: 1 1 300px; /*  Stretching: */
    flex: 0 1 300px; /*  No stretching: */
    margin: 5px;
    border:2px solid grey;
    padding: 3px;
    border-radius: 10px;
}
.activitydisplay{
 border-radius: 3px 25px ;
  background: #f1f1f1;
  padding: 20px;
   font-size: 20px;
  font-weight: bold;
  width: 250px;
}
.addactivity{
 border:  2px solid dodgerblue;
 width: 300px;
}
.fa-plus{
  color: dodgerblue;
  cursor: pointer;
}

/* enroll popup */
.popupaddenroll{
  font-size: 24px;
   width: 300px;
  background: #1e90ff;
  text-align: center; 
  position: absolute; 
  top: 20%;
    left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;  
  overflow: hidden;
  display: none;
  
}
.inputstyle{
  min-width: 290px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.submitbutton{
 min-width: 290px;
 padding: 12px 10px;
 margin: 8px 0;
 border-radius: 10px;
 background: #1e90ff;
 border: none;
 color: #fff;
  font-size: 20px;
}
#btncancelenroll:hover{
  background: brown;
}
#btnsubmitenroll:hover{
  background: #FEC12C;
  color: brown;
}
.submitbutton:hover{
  font-weight: bold;
   cursor: pointer;
}

/*-------------------small screens ------------------*/
