.quiz-nav{
  display: none;
}
.user-nav{
  display: none;
}
.quizinputholder{
  border:  4px solid #1e90ff;
}
.quizinput{
	width: 80%;
	margin-left: 9%;
	border-top: 30px solid brown;
}
.quizinputtitle{
	width: 100%;
	background: #FEC12C;
	color: brown;
	font-weight: bold;
	font-size: 22px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.quiztta{
	width: 90%;
	  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.answertta{
	width: 60%;
	  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.corectanswer{
	width: 60%;
	padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.btncontrolsholder{
  width: 100%;
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btncontrol{
      flex: 1 1 210px; /*  Stretching: */
    flex: 0 1 210px; /*  No stretching: */
    margin: 5px;
    font-size: 20px;
    padding: 10px 12px;
}

#savequiz{
	cursor: pointer;
	background: #954535;
	color: #fff;
}
#quizpreview{
	cursor: pointer;
	background: #1e90ff;
	color: #fff;
	display: none;
}
#uploadquiz{
	cursor: pointer;
	background: #009900;
	color: #fff;
	display: none;
}
#completequiz{
	cursor: pointer;
	background: #954535;
	color: #fff;
}
.btnsubmit{
	background: #009900;
	font-size: 20px;
    padding: 10px 12px;
    cursor: pointer;
    color: #fff;

}

.addquizsection{
	display: none;
}
.resultssection{
	display: none;
}
.schedulesection{
	display: none;
}

.select-unit{
	background: #f1f1f1;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 16PX;
  float: left;

}
.time-selector{
  background: #f1f1f1;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 16PX;
}
#btnviewresults, #sbmitschedule{
	background: dodgerblue;

}
#sbmitschedule,#btnviewresults:hover{
	cursor: pointer;
	
	
}
.inputstyle{
  min-width: 290px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 16PX;
}

/* results table */

.resultstable{
  
  width: 100%;
  border: 2px solid black ;
   min-width: 750px;
} 
 .resultstable table{
  width: 100%;
 }
 .resultstable thead{
  color: brown;
  font-size: 21px;
  text-align: center;
  background-color: dodgerblue;

 }
 .resultstable th{
  padding: 12px 8px;

 }
  .resultstable td{
    text-align: center;
    font-size: 18px;
    padding: 8px 6px;
  }
  .resultstable tbody tr:nth-child(odd){background-color: #f2f2f2;}
  .resultstable tbody tr:hover{background-color: #ddd; }

.schedular{
  border: 1px solid dodgerblue;
  margin-bottom: 16px;

}
 .schedular-header{
  background: dodgerblue;
  padding: 16px;
  color: brown;
  display: flex;
  font-size: 32px;
  align-items:center;
  justify-content: center;
 }

 .sub-nav{
  background: #00000000;
  outline: none;
  padding: 4px 2px;
  margin: 8px 0;
  display: inline-block;
  border: 0px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 16px;
  cursor: pointer;
 }
.view-schedule , .add-schedule{
 display: none;
}

.main-totalusers{
  background: #fff;
  width: 80%;
  margin-left: 10%;
  border: 1px solid #fff;
  box-shadow: 0 0 0.5rem 0 rgba(0 ,0,0,0.3);
  padding: 8px;
  display: flex;
 justify-content: center;
 margin-bottom: 20px;
}
.largeText{
  font-size: 24px;
  font-weight: bold;
}
.smallText{
  font-size: 18px;
  font-weight: bold;
}
.dodgerblueText{
  color: dodgerblue;
}
.brownText{
  color: brown;
}
.enrolls-holder{
  width: 100%;
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.enroll-card{
      flex: 1 1 300px; /*  Stretching: */
    flex: 0 1 300px; /*  No stretching: */
    margin: 5px;
    border: 1px solid #fff;
  box-shadow: 0 0 0.5rem 0 rgba(0 ,0,0,0.3);
  padding: 8px;
  background: #fff;

}
.scroll-table{
  overflow: hidden;
  overflow-x: scroll;
}
.table-holder{
   background: #fff;
   width: 80%;
   min-width: 750px;
  margin-left: 10%;
  border: 1px solid #fff;
  box-shadow: 0 0 0.5rem 0 rgba(0 ,0,0,0.3);
  padding: 8px;
 margin-top: 20px;
 margin-bottom: 20px;

}
.table-caption{
  display: flex;
 justify-content: center;
  width: 100%;
  border-bottom: 2px solid grey;
}
.table-holder table{
  width: 100%;
 }
 .table-holder thead{
  color: brown;
  font-size: 21px;
  text-align: center;
  background-color: #fff;

 }
 .table-holder th{
  padding: 12px 8px;

 }
  .table-holder td{
    text-align: center;
    font-size: 18px;
    padding: 8px 6px;
  }
  .table-holder tbody tr:nth-child(odd){background-color: #f2f2f2;}
  .table-holder tbody tr:hover{background-color: #ddd; }
.hoverme{
 cursor: pointer;
}

/* enroll popup */

.scroll-analysis{
  width: 80%;
  overflow: hidden;
  overflow-x: scroll;
  background: #fff;
  padding: 8px;
  position: absolute; 
  top: 20%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  display: none;
   border: 1px solid #fff;
  box-shadow: 0 0 0.5rem 0 rgba(0 ,0,0,0.3);

}
.analysis-holder{
   background: #fff;
   width: 98%;
   min-width: 750px;
  border: 1px solid #fff;
  box-shadow: 0 0 0.5rem 0 rgba(0 ,0,0,0.3);
  padding: 8px;
margin-left: auto; 
  margin-right: auto;
  color: dodgerblue;
}


.mybutton{
  padding: 8px 12px;
  border-radius: 5px;
}
#btncloseanalysis{
  float: right;
}
 
 /* on smalll screens */

@media(max-width: 850px){
.quizinput{
	width: 100%;
	margin-left: 0;
	padding: 1%;
	border-top: 30px solid brown;
}
.quiztta{
	width: 98%;
	
}
.answertta{
	width: 90%;

}
.corectanswer{
	width: 90%;

}
}