html{
	scroll-behavior: smooth;
}
.bannerholder{
	background: #1e90ff;
}
.logoholder{
	background: #1e90ff;
	padding: 20px;
}

.backgroung-image{
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 90vh;
	background-position: 100% 50;
	overflow: hidden;
}
.overlay-content{
	width: 70%;
	margin-left: 15%;
}
.overlay-content p{
	font-size: 24px;
	color: #fff;
}
.overlay-content h2{
	color: #FEC12C;
}
.overlay-content , .spanassignment, .spanexam , .spannotes{
	font-size: 30px;
}
.spanassignment{
	color: #FEC12C;
}
.spanexam{
	color: #1e90ff;
}
.spannotes{
	color: #FEC12C;
}
 .navbar{
 	height: 70px;
 	background:  #fff;
 	border-bottom: 3px solid #1e90ff;
 }
 
   nav a{
   	padding: 10px 12px ;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	text-decoration: none;
	background: #fff;	
	transition: .5s ease all;
   }
   nav a:hover{
    	background: #FD4935;
		border-bottom: 4px solid #1e90ff;
		color: #fff;
    }
    .active{
		background: #FD4935;;
		border-bottom: 4px solid #1e90ff;
		color: #fff;
		
    }

    /*----------------footer--------------------------*/
    .footer{
	width: 100%;
	display: flex;

}
.rightfooter{
 width: 50%;
 border-bottom: 30px solid brown;
 border-top: 2px solid brown;
}
.rightfooter a{
	text-decoration :none;
	color:#a8a8a8 ;
}
.leftfooter{
 width: 50%;
 border-bottom: 30px solid #FD4935;
 border-top: 2px solid brown;
 color: #a8a8a8 ;
}
.contacthead{
	font-size: 34px;
	color: brown;
}


   
/*-------------------small screens ------------------*/
@media (max-width: 800px){
	nav a{
		padding: 1px 2px ;
		font-size-adjust: 12px;
	}

 .footer{
	width: 100%;
	display: block;

}
.rightfooter{
 width: 100%;
 
 border-bottom: 30px solid brown;
}
.leftfooter{
 width: 100%;
 
 border-bottom: 30px solid #FD4935;
 color: #a8a8a8 ;
}

}