.maindisplay{
	display: block;
  background: white;
}
.profileavator{
 background: teal;
 border-bottom-right-radius: 30%;
 border-bottom-left-radius: 30%;
 height: 25vw;
 position: relative;
}
.image-holder{
  position: absolute;
  width: 50%;
  background: #00000000;
    top: 50%;
  left:25%;
  width: 50%;
  max-height: 500px;
  min-width: 300px;
}
.image-holder img{
  border-radius: 50%; max-height: 300px; max-width: 300px;
}
.profiledetails{
 background: dodgerblue;
  border-top-right-radius: 30%;
 border-top-left-radius: 30%;
 height: 25vw;
 margin-top: 200px;
}
.profiledetails label{
font-size: 20px;
font-weight: bold;
}
#btnaddimage{
	width: 50%;
	padding: 4px 6px;
	background: #00000000;
	outline: none;
	border: 1px solid dodgerblue;
	cursor: pointer;
}
.fa-plus{
 color: dodgerblue;

}
.detail-holder{
 background: dodgerblue;
}


@media (max-width: 800px){


}